
sudo export RLM_LICENSE=5055@192.168.8.200

echo " <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>Label</key>
<string>RLM.startup</string>
<key>ProgramArguments</key>
<array>
<string>sh</string>
<string>-c</string>
<string>
launchctl setenv RLM_LICENSE 5055@192.168.8.200
</string>
</array>
<key>RunAtLoad</key>
<true/>
</dict>
</plist>" >> /Library/LaunchAgents/environment.plist